<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Your favorite list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/hover.css" rel="stylesheet" media="all">
    <script src="../jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
 <button type="button" class="btn btn-default pull-right button hvr-bounce-out"><a href="/logout">LOGOUT</a></button>
  <button type="button" class="btn btn-default pull-right  button hvr-curl-top-right"><a href="/">Back</a></button>

  <h1>Your favorite list</h1>
  <p>Remember books you want to buy later or collect them for your favorite book list.</p>
  <br>

  <div class="row">

   {{#titles}}
      <div class="col-sm-4">
        <img src={{image}}>
      </div>
      <div class="col-sm-8">
        <button class="deleteUser" data-id={{id}}>DELETE!!</button>
        <h1>{{title}}</h1>
        <h3>{{author}}</h3>
        <h4>{{description}}</h4>
      </div>
    {{/titles}}
  </div>
</div>

<!-- <div class="container">
  <h1>Your favorite list</h1>
  <p>Remember books you want to buy later or collect of your favorite book list.</p>
    <div class="row">
      {{#titles}}
        <div class="col-md-4">
          <img src={{image}}>
        </div>
        <div class="col-md-8">
          <h1>{{title}}</h1>
          <h3>{{author}}</h3>
          <h4>{{description}}</h4>
        </div>
      {{/titles}}
    </div>
</div> -->

</body>
</html>


