body{

}
.welcome {
  text-align: center;
}

.container{

}

.book {
  border: red solid 1px;
  display: inline-block;
}

ul
{
    list-style-type: none;
}

#infoTitle {
  text-align: center;
}

#infoImage {
  text-align: center;
}

