body{

}
.welcome {
  text-align: center;
  font-size: 60px;
  font-family: 'Anton', sans-serif;
}

.border-container{
  padding-right: 100px;
  padding-left: 100px;
}

.container{

}

.book {
  /*border: red solid 1px;*/
  height: 300px;
  width: 20%;
  cursor: pointer;
  background: #e2e2e2;
  transition: background 5olds cubic-bezier(.85,.23,.21,.2);
}

.book:hover{
  background: green;
}

ul
{
    list-style-type: none;
}

#bookList {
  /*border: purple solid 1px;*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#infoTitle {
  text-align: center;
}

#infoImage {
  text-align: center;
}

#favLink {

}


